.login-container {
    background-image: url(../Icons/login-bg-1.svg);
    background-repeat: no-repeat;
    margin-top: -70px;
    background-size: cover;
    background-position-y: -300px;
    padding: 5rem;
}

.login-container h4 {
    color: white;
    white-space: nowrap;
}

.logo-container {
    text-align: center;
}

.logo-container img {
    height: 100px;
    width: 100px;
    margin-bottom: -15px;
}

.form-container {
    width: 22rem;
}

form * {
    color: #868383;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}

form>span {
    text-align: start;
    width: 100%;
    padding: 5px;
    margin-left: 1px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: -5px;
}

.login-container input {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
}

.login-container input.error {
    border-color: red;
}

.login-container .password-toggle {
    position: absolute;
    transform: translateY(-105%);
    cursor: pointer;
    margin-right: 15px;
}

.password-input-container,
.Username-input-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 0.5;
}

.login-container button {
    width: 50%;
    padding: 0.5rem;
    margin-top: 7px;
    background-color: rgb(4, 115, 215);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 20px;
}

.forgot-password {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    margin-top: -15px;
}

.red-link {
    color: rgb(4, 115, 215);
    text-decoration: none;
    font-size: 0.9rem;
    text-align: right;
}

.error-text {
    color: red;
    font-size: 0.8rem;
    text-align: start;
    margin-top: -20px;
}

.error-text-password {
    color: red;
    font-size: 0.8rem;
    text-align: start;
}

.project_added {

    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.innerprojadd {
    width: 57%;
    height: 51px;
    margin: auto;
    background-color: green;
    border-radius: 21px 3px;
}

.innerprojadd>p {
    margin: auto;
    padding: 13px;
    font-size: 17px;
    font-family: system-ui;
    font-weight: 500;
    margin-left: 9px;
    letter-spacing: 0.5px;
}


@media (max-width: 767px) {
    .login-container {
        background-image: url(../Icons/login-bg-2.png);
        margin-top: -42px;
        padding: 0;
        background-position-y: 0;
    }

    .logo-container {
        margin-top: 24%;
    }

    .form-container {
        width: 100%;
        margin-top: -80px;

    }

    .container {
        justify-content: space-around;

    }

    .login-container form {
        border: none;
        padding: 0;
        background-color: transparent;
        width: 90%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: -5%;
    }

    .login-container button {
        width: 100%;
    }

    .form-container {
        margin-top: 3%;
    }

    .form-container h3 {
        width: 100%;
        text-align: start;
        font-size: 21px;
        font-weight: 500;
        margin-top: -50px;
        margin-bottom: 5px;
        color: black;

    }

    .form-container span {
        font-size: 19px;

    }

    .Username-input-container input {
        font-size: 20px;
        border: solid 1px black;
    }


}